*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-family: monospace;
}

.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 10px;
  min-width: 500px;
  max-width: 800px;

}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 6px 15px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border-width: 0 0 2px 0;
  border-color: blue;
  padding: 0.5rem;
}

.input:focus{
  border-color:grey;
  border-style: solid;
}


.btn{
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0.3rem 0.4rem;
  transition: 0.5ms ease;
}
.btn-complete{
  color: white;
  background-color: hotpink;
}

.btn-complete:hover{
  color: white;
  background-color: rgb(19, 196, 19);
}

.btn-delete{  
  padding: 8px;
  background-color: hotpink;
}

.btn-delete:hover{
  background-color: crimson;
  color: white;
}

