*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 10px;
  min-width: 500px;
  max-width: 800px;

}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 6px 15px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border-width: 0 0 2px 0;
  border-color: blue;
  padding: 0.5rem;
}

.input:focus{
  border-color:grey;
  border-style: solid;
}

.btn-complete{
  padding: 5px;
  color: white;
  background-color: hotpink;
  outline: none;
  border: none;
  border-radius: 5px;
}

.btn-complete:hover{
  color: white;
  background-color: cornflowerblue;
}

